body .public-header {
  background: #fff;
  color: #000;
}
.app-1 {
  width: 100%;
  min-height: 560px;
  padding-top: 100px;
  background: url(../img/app_bg.png) center center no-repeat;
  background-size: 100% 460px;
}
.app-1 .banner-text {
  width: 600px;
  position: absolute;
  top: 160px;
  left: 40px;
}
.app-1 .banner-text h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
}
.app-1 .banner-text p {
  font-size: 18px;
  color: #fff;
  padding: 20px 0;
  line-height: 30px;
}
.app-2 {
  width: 100%;
  min-height: 140px;
  background: #fff;
}
.app-2 .app2-list {
  width: 100%;
  position: absolute;
  top: -135px;
}
.app-2 .app2-list li {
  float: left;
  width: 510px;
  height: 92px;
  margin: 0 40px;
  -webkit-box-shadow: 0 0 10px #aaa;
  -moz-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.app-2 .app2-list li .app2-item-icon {
  display: inline-block;
  width: 44px;
  height: 46px;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
  background-position: -381px -260px;
  margin-left: 58px;
  margin-top: 24px;
  margin-right: 24px;
  vertical-align: middle;
}
.app-2 .app2-list li .app2-item-text {
  padding-top: 23px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #333;
}
.app-2 .app2-list li .app2-item-text em {
  font-style: normal;
  color: #3874f4;
}
.app-2 .app2-list li .app2-item-big-text {
  display: inline-block;
  vertical-align: middle;
  padding-top: 25px;
  padding-left: 25px;
  font-size: 36px;
  color: #333;
  font-weight: 600;
}
.app-3 {
  width: 100%;
  min-height: 813px;
  background: url(../img/app_bj2.png) center center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.app-3 .phone-type {
  width: 1200px;
  text-align: center;
}
.app-3 .phone-type li {
  float: left;
  width: 533px;
  margin: 0 30px;
}
.app-3 .phone-type li i {
  display: inline-block;
  width: 80px;
  height: 96px;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
}
.app-3 .phone-type li:nth-of-type(1) i {
  background-position: -121px -256px;
}
.app-3 .phone-type li:nth-of-type(2) i {
  background-position: -20px -256px;
}
.app-3 .phone-type li .phone-text {
  display: block;
  font-size: 24px;
  color: #3874f4;
  padding: 10px 0;
}
.app-3 .app3-list {
  padding-top: 50px;
}
.app-3 .app3-list li {
  width: 533px;
  min-height: 135px;
  float: left;
  border: 1px solid #98b7f9;
  padding: 40px 30px 20px;
  margin: 25px 30px;
  -webkit-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.5);
  -moz-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.5);
  box-shadow: 1px 0 10px rgba(39, 119, 253, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.app-3 .app3-list li:nth-of-type(even) {
  -webkit-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
  -moz-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
  box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
}
.app-3 .app3-list li:nth-of-type(even) .app3-item-caption {
  background: -webkit-linear-gradient(left, #5ea8f3, #89bff7);
  background: -o-linear-gradient(right, #5ea8f3, #89bff7);
  background: -moz-linear-gradient(right, #5ea8f3, #89bff7);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #5ea8f3, #89bff7);
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#89bff7, endColorStr=#5ea8f3);
  /*IE 6 7 8*/
}
.app-3 .app3-list li:nth-of-type(odd) .app3-item-caption {
  background: -webkit-linear-gradient(left, #5a69f5, #5e8ef3);
  background: -o-linear-gradient(right, #5a69f5, #5e8ef3);
  background: -moz-linear-gradient(right, #5a69f5, #5e8ef3);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #5a69f5, #5e8ef3);
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#5e8ef3, endColorStr=#5a69f5);
  /*IE 6 7 8*/
}
.app-3 .app3-list li .app3-item-caption {
  width: 188px;
  height: 40px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  font-size: 18px;
  color: #fff;
}
.app-3 .app3-list li .app3-item-text {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}
.app-4 {
  width: 100%;
  min-height: 660px;
  background: url(../img/app_bg3.png) center center no-repeat;
  background-size: cover;
}
.app-4 .public-title .public-title-top {
  color: #fff;
}
.app-4 .public-title .public-title-top .public-small-title {
  color: #afc7fb;
}
.app-4 .public-title .public-title-bottom {
  color: #fff;
}
.app-4 .container {
  text-align: center;
}
.app-4 .app4-list-1 {
  width: 100%;
  padding-top: 60px;
}
.app-4 .app4-list-1 li {
  float: left;
  width: 150px;
  height: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.app-4 .app4-list-1 li:nth-of-type(3),
.app-4 .app4-list-1 li:nth-of-type(4) {
  line-height: 60px;
}
.app-4 .app4-list-1 li:nth-of-type(3) span,
.app-4 .app4-list-1 li:nth-of-type(4) span {
  display: block;
  font-weight: 600;
}
.app-4 .app4-line {
  margin: 20px 0 10px;
}
.app-4 .app4-list-2 {
  width: 100%;
}
.app-4 .app4-list-2 li {
  float: left;
  width: 150px;
  color: #fff;
  font-size: 18px;
}
.app-5 {
  width: 100%;
  min-height: 765px;
  background: #f3f7fd;
}
.app-5 .public-title .public-title-bottom {
  color: #999;
}
.app-5 .public-title .public-title-bottom .orange-text {
  color: #ff5825;
}
.app-5 .app5-nav {
  width: 100%;
  height: 546px;
  position: relative;
}
.app-5 .app5-nav .app5-item {
  position: absolute;
}
.app-5 .app5-nav .app5-item .circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(188, 203, 234, 0.35);
  -moz-box-shadow: 0 0 10px rgba(188, 203, 234, 0.35);
  box-shadow: 0 0 10px rgba(188, 203, 234, 0.35);
  position: relative;
}
.app-5 .app5-nav .app5-item .circle i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
}
.app-5 .app5-nav .app5-item .circle-text {
  font-size: 18px;
  color: #2362a5;
  text-align: center;
  padding: 10px 0;
}
.app-5 .app5-nav .app5-item:nth-of-type(1) {
  width: 140px;
  min-height: 180px;
  left: 35px;
  top: 30px;
}
.app-5 .app5-nav .app5-item:nth-of-type(1) .circle {
  width: 140px;
  height: 140px;
}
.app-5 .app5-nav .app5-item:nth-of-type(1) .circle i {
  width: 41px;
  height: 36px;
  background-position: -201px -372px;
}
.app-5 .app5-nav .app5-item:nth-of-type(2) {
  width: 180px;
  min-height: 220px;
  left: 295px;
  top: 0px;
}
.app-5 .app5-nav .app5-item:nth-of-type(2) .circle {
  width: 180px;
  height: 180px;
}
.app-5 .app5-nav .app5-item:nth-of-type(2) .circle i {
  width: 56px;
  height: 63px;
  background-position: -381px -96px;
}
.app-5 .app5-nav .app5-item:nth-of-type(3) {
  width: 140px;
  min-height: 180px;
  left: 568px;
  top: 117px;
}
.app-5 .app5-nav .app5-item:nth-of-type(3) .circle {
  width: 140px;
  height: 140px;
}
.app-5 .app5-nav .app5-item:nth-of-type(3) .circle i {
  width: 40px;
  height: 39px;
  background-position: -141px -372px;
}
.app-5 .app5-nav .app5-item:nth-of-type(4) {
  width: 150px;
  min-height: 190px;
  left: 765px;
  top: 0px;
}
.app-5 .app5-nav .app5-item:nth-of-type(4) .circle {
  width: 150px;
  height: 150px;
}
.app-5 .app5-nav .app5-item:nth-of-type(4) .circle i {
  width: 51px;
  height: 61px;
  background-position: -381px -179px;
}
.app-5 .app5-nav .app5-item:nth-of-type(5) {
  width: 110px;
  min-height: 150px;
  left: 987px;
  top: 30px;
}
.app-5 .app5-nav .app5-item:nth-of-type(5) .circle {
  width: 110px;
  height: 110px;
}
.app-5 .app5-nav .app5-item:nth-of-type(5) .circle i {
  width: 40px;
  height: 42px;
  background-position: -81px -372px;
}
.app-5 .app5-nav .app5-item:nth-of-type(6) {
  width: 110px;
  min-height: 150px;
  left: 125px;
  top: 247px;
}
.app-5 .app5-nav .app5-item:nth-of-type(6) .circle {
  width: 110px;
  height: 110px;
}
.app-5 .app5-nav .app5-item:nth-of-type(6) .circle i {
  width: 32px;
  height: 43px;
  background-position: -475px -20px;
}
.app-5 .app5-nav .app5-item:nth-of-type(7) {
  width: 140px;
  min-height: 180px;
  left: 397px;
  top: 278px;
}
.app-5 .app5-nav .app5-item:nth-of-type(7) .circle {
  width: 140px;
  height: 140px;
}
.app-5 .app5-nav .app5-item:nth-of-type(7) .circle i {
  width: 41px;
  height: 47px;
  background-position: -20px -372px;
}
.app-5 .app5-nav .app5-item:nth-of-type(8) {
  width: 180px;
  min-height: 220px;
  left: 828px;
  top: 210px;
}
.app-5 .app5-nav .app5-item:nth-of-type(8) .circle {
  width: 180px;
  height: 180px;
}
.app-5 .app5-nav .app5-item:nth-of-type(8) .circle i {
  width: 74px;
  height: 56px;
  background-position: -381px -20px;
}
.app-6 {
  width: 100%;
}
