body .public-header {
  background: #fff;
  color: #000;
}
.case-1 {
  width: 100%;
  height: 360px;
  background: url(../img/case_bg1.png) center 100px no-repeat;
  background-size: 100% 360px;
  padding-top: 100px;
}
.case-1 .case1-box {
  width: 530px;
  position: absolute;
  left: 0;
  top: 105px;
  color: #fff;
}
.case-1 .case1-box .case1-caption {
  font-size: 50px;
  font-weight: 600;
  padding-left: 30px;
}
.case-1 .case1-box .case1-text {
  font-size: 18px;
  padding: 25px 0 0 30px;
  line-height: 30px;
}
.case-2 {
  width: 100%;
  min-height: 1580px;
  padding-top: 30px;
  background: #f9f9fc;
}
.case-2 .case2-nav-wrap {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  -moz-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
}
.case-2 .case2-nav-wrap .case2-nav .active {
  background-color: #3874f4;
  color: #fff;
}
.case-2 .case2-nav-wrap .case2-nav li {
  float: left;
  padding: 0 45px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #262626;
}
.case-2 .case2-list {
  width: 100%;
  min-height: 1275px;
  padding-top: 47px;
}
.case-2 .case2-list li {
  float: left;
  width: 285px;
  height: 284px;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  -moz-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
}
.case-2 .case2-list li:nth-of-type(4n-4) {
  margin-right: 0;
}
.case-2 .case2-list li:hover {
  -webkit-box-shadow: 0 0 20px #92b1f2;
  -moz-box-shadow: 0 0 20px #92b1f2;
  box-shadow: 0 0 20px #92b1f2;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.case-2 .case2-list li > a {
  display: block;
  width: 100%;
  height: 237px;
  overflow: hidden;
}
.case-2 .case2-list li > a img {
  display: block;
  width: 100%;
}
.case-2 .case2-list li .item-text {
  height: 47px;
  line-height: 47px;
  padding-left: 8px;
  position: relative;
}
.case-2 .case2-list li .item-text span {
  font-size: 14px;
  color: #3b3b3b;
}
.case-2 .case2-list li .item-text a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.case-2 .case2-list li .item-text a .item-more {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
  background-position: -475px -209px;
}
.case-2 .page-wrap {
  width: 375px;
  margin: 0 auto;
}
.case-2 .page-wrap .active {
  background-color: #3874f4;
  color: #fff;
}
.case-2 .page-wrap li {
  float: left;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #3874f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #626262;
}
.case-2 .page-wrap li:last-child {
  margin-right: 0;
}
.case-2 .page-wrap li.omit {
  border: none;
  color: #000;
  font-size: 18px;
  line-height: 50px;
  width: 15px;
  cursor: auto;
  color: #626262;
}
