body .public-header {
  background: #fff;
}
body .public-header .header-nav {
  color: #000;
}
.content-caption {
  padding: 20px 27px;
}
.content-caption span {
  border-left: 5px solid #3874f4;
  font-size: 24px;
  padding-left: 10px;
}
.solution-1 {
  width: 100%;
  min-height: 670px;
  padding-top: 100px;
  background: url(../img/solution_bg1_01.png) center 100px no-repeat;
  background-size: 100% 450px;
}
.solution-1 .solution1-caption {
  position: absolute;
  top: 118px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.solution-1 .solution1-box {
  width: 100%;
  min-height: 370px;
  position: absolute;
  top: 245px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  -moz-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
}
.solution-1 .solution1-box .public-title {
  padding: 10px;
}
.solution-1 .solution1-box .solution1-text {
  padding: 0px 30px 0 30px;
  text-indent: 30px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
}
.solution-1 .solution1-box .solution1-text:last-child {
  padding-top: 30px;
}
.solution-2 {
  width: 100%;
  min-height: 545px;
  background-color: #fafafc;
  padding-top: 30px;
}
.solution-2 .solution2-list {
  width: 100%;
  padding-top: 10px;
}
.solution-2 .solution2-list li {
  float: left;
  width: 290px;
  height: 410px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  -moz-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  margin-right: 12px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 115px;
  overflow: hidden;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.solution-2 .solution2-list li > i {
  display: inline-block;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
}
.solution-2 .solution2-list li:nth-of-type(1) i {
  width: 98px;
  height: 98px;
  background-position: -138px -138px;
}
.solution-2 .solution2-list li:nth-of-type(2) i {
  width: 99px;
  height: 98px;
  background-position: -20px -20px;
}
.solution-2 .solution2-list li:nth-of-type(3) i {
  width: 62px;
  height: 98px;
  background-position: -220px -256px;
}
.solution-2 .solution2-list li:nth-of-type(4) i {
  width: 103px;
  height: 92px;
  background-position: -258px -20px;
}
.solution-2 .solution2-list li:nth-of-type(4) span {
  padding-top: 71px;
}
.solution-2 .solution2-list li:last-child {
  margin-right: 0;
}
.solution-2 .solution2-list li:hover {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: #3874f4;
  -webkit-box-shadow: 0 0 15px #3874F4;
  -moz-box-shadow: 0 0 15px #3874F4;
  box-shadow: 0 0 15px #3874F4;
}
.solution-2 .solution2-list li:hover span {
  color: #fff;
}
.solution-2 .solution2-list li:nth-of-type(1):hover i {
  background-position: -20px -138px;
}
.solution-2 .solution2-list li:nth-of-type(2):hover i {
  background-position: -138px -20px;
}
.solution-2 .solution2-list li:nth-of-type(3):hover i {
  background-position: -300px -256px;
}
.solution-2 .solution2-list li:nth-of-type(4):hover i {
  background-position: -258px -131px;
}
.solution-2 .solution2-list li .solution2-item-text {
  display: block;
  font-size: 18px;
  color: #3874f4;
  padding: 65px 0;
}
.solution-3 {
  width: 100%;
  min-height: 725px;
}
.solution-3 .container {
  padding-top: 20px;
}
.solution-3 .container .solution3-box {
  height: 600px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  -moz-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  text-align: center;
  overflow: hidden;
}
.solution-4 {
  width: 100%;
  min-height: 745px;
  background-color: #fafafc;
}
.solution-4 .container {
  padding-top: 20px;
}
.solution-4 .container .solution4-box {
  height: 600px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  -moz-box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  box-shadow: 0 0 10px rgba(167, 170, 174, 0.35);
  text-align: center;
  overflow: hidden;
}
.solution-5 {
  width: 100%;
  min-height: 770px;
}
.solution-5 .container {
  padding-top: 50px;
}
.solution-5 .container .solution5-box {
  width: 100%;
}
.solution-5 .container .solution5-box li {
  float: left;
  width: 390px;
  height: 278px;
  background-color: #f0f1f3;
  margin-right: 13px;
  margin-bottom: 13px;
  overflow: hidden;
}
.solution-5 .container .solution5-box li:nth-of-type(3n-0) {
  margin-right: 0;
}
.solution-5 .container .solution5-box li > img {
  display: block;
  width: 100%;
}
