body {
  background-color: #fafafc;
}
body .public-header {
  background: #fff;
}
body .public-header .header-nav {
  color: #000;
}
.team-1 {
  width: 100%;
  min-height: 383px;
}
.team-1 .container {
  padding-top: 100px;
}
.team-1 .container .public-title {
  padding-bottom: 20px;
}
.team-1 .container .team1-nav {
  width: 563px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.team-1 .container .team1-nav .active {
  background-color: #3874f4;
  color: #fff;
}
.team-1 .container .team1-nav li {
  float: left;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
  border-right: 1px solid #dcdcdc;
}
.team-1 .container .team1-nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
.team-1 .container .team1-nav li:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.team-1 .container .team1-nav li:last-child {
  border-right: none;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.team-2 {
  width: 100%;
  height: 402px;
  background: url(../img/team_bg.png) center center no-repeat;
  background-size: cover;
}
.team-2 .team2-text {
  font-size: 70px;
  color: #3874f4;
  text-align: center;
  line-height: 395px;
}
.team-3 {
  width: 100%;
  min-height: 750px;
}
.team-3 .public-title {
  padding-bottom: 10px;
}
.team-3 .team3-text {
  width: 720px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-indent: 40px;
}
.team-3 .team3-nav {
  width: 335px;
  margin: 35px auto 30px;
  border-bottom: 1px solid #d0d0d1;
  padding-bottom: 5px;
}
.team-3 .team3-nav .active {
  background-color: #3874F4;
  color: #fff;
}
.team-3 .team3-nav li {
  float: left;
  width: 80px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #333;
  cursor: pointer;
  margin-right: 47px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.team-3 .team3-nav li:last-child {
  margin-right: 0;
}
.team-3 .team3-photo-list {
  width: 100%;
  position: absolute;
  display: none;
}
.team-3 .team3-photo-list.show {
  display: block;
}
.team-3 .team3-photo-list li {
  float: left;
  width: 295px;
  height: 220px;
  margin-right: 5px;
  overflow: hidden;
}
.team-3 .team3-photo-list li:last-child {
  margin-right: 0;
}
.team-3 .team3-photo-list li img {
  display: block;
  width: 100%;
}
.team-4 {
  width: 100%;
  min-height: 918px;
}
.team-4 .public-title {
  padding-bottom: 10px;
}
.team-4 .team4-text {
  width: 850px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  text-align: center;
}
.team-4 .team4-photo-list {
  width: 100%;
  padding-top: 40px;
}
.team-4 .team4-photo-list li {
  float: left;
  width: 295px;
  height: 220px;
  margin-right: 5px;
  margin-bottom: 80px;
  background-color: #626262;
  overflow: hidden;
}
.team-4 .team4-photo-list li:last-child {
  margin-right: 0;
}
.team-4 .team4-photo-list li > img {
  display: block;
  width: 100%;
}
