<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../resources/css/main.css">
	<link rel="stylesheet" href="../resources/css/dropload.css">
	<title>老师列表</title>
</head>

<body>
	<header class="header">
		<a href="javascript:history.back()" class="header-icon header-left i-back"></a>
		<h1 class="header-title">易起问</h1>
		<a class="header-icon header-right i-menu"></a>
	</header>

	<div v-cloak id="nav">
		<div class="index-1 nav" v-bind:class="'nav' + data.length">
			<div class="nav-warp">
				<template v-for="item in data">
					<a v-bind:data-id="item.id" class="nav-item">
						<span>{{item.name}}</span>
					</a>
				</template>
			</div>
		</div>
	</div>

	<div class="teacher-list2">
		<a id="level" class="list-nav shunxu level active">综合</a>
		<a id="answers" class="list-nav">销量</a>
		<a id="ask_money" class="list-nav shunxu level">价格</a>
		<a id="star" class="list-nav">评分</a>
		<a id="answer_sort" class="list-nav">应答</a>
	</div>

	<div id="noticeList" class="index-3">
		<i class="i-broadcast"></i>
		<em></em>
		<div id="noticeWarp">
			<template v-for="item in data">
				<p v-if="item.notice_href == ''">{{item.content}}</p>
				<p v-else>
					<a v-bind:href="item.notice_href">{{item.content}}</a>
				</p>
			</template>
		</div>
	</div>

	<div class="content">
		<div v-cloak id="teacherList">
			<template v-for="item in datas">
				<div class="post-question1 business-card teacher-item">
					<a v-bind:href="'detail.html?id=' + item.id" class="portrait">
						<img v-if="item.avatar != ''" v-bind:src="item.avatar" class="pic" alt="">
						<img v-else src="../resources/images/portrait.png" class="pic" alt="">
						<i class="i-vip"></i>
					</a>
					<a v-bind:href="'../answer/post-question.html?id=' + item.id" class="info-card">
						<p class="name name-info">
							<span class="mingzi">{{item.nickname}}</span>
							<span v-show="item.is_recommend == 1" class="tui">推荐</span>
							<em class="money-warp">
								<i class="i-money"></i>
								<span>{{item.ask_money}}</span>
							</em>
						</p>
						<p class="text">{{item.introduce}}</p>
					</a>
					<div class="tags" v-if="item.skills != null" v-html="item.skills"></div>
					<div class="statistics">
						<template v-if="item.star != null">
							<p class="score" v-html="item.star"></p>
						</template>
						<template v-else>
							<p class="score">暂无评分</p>
						</template>
						<p class="answer-num">
							<i class="i-call"></i>
							<span>{{item.answers}}个回答</span>
						</p>
					</div>
				</div>
			</template>
		</div>
	</div>

	<div class="fot-menu">
		<span>
			<a href="../index.html">
				<i class="i-home"></i>
				<span>首页</span>
			</a>
		</span>
		<em class="updata-question">
			<a></a>
		</em>
		<span>
			<a href="../personal/personal-index.html">
				<i class="i-personal"></i>
				<span>我的</span>
			</a>
		</span>
	</div>
</body>

<script src="../resources/js/flexible.js"></script>
<script src="../resources/js/flexible_css.js"></script>
<script src="../resources/js/jquery.min.js"></script>
<script src="../resources/js/conf.js"></script>
<script src="../resources/js/vue.min.js"></script>
<script src="../resources/js/dropload.min.js"></script>
<script src="../resources/pages-js/teacher-list.js" type="text/javascript" charset="utf-8"></script>

</html>