.dropload-up,
.dropload-down {
  background-color: #F0EFF5;
  position: relative;
  height: 0;
  display: none;
  overflow: hidden;
  /* 开启硬件加速 */
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}

.dropload-down {
  height: 50px;
  border-top: 1px solid #e5e5e5;
}

.dropload-refresh .drop-up-icon,
.dropload-refresh .drop-down-icon,
.dropload-update .drop-up-icon,
.dropload-update .drop-down-icon {
    
}

.dropload-load .loading-icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

.dropload-refresh span,
.dropload-update span,
.dropload-load span {
  vertical-align: middle;
  line-height: 18px;
  font-size: 15px;
  color: #585858;
}
[data-dpr="2"] .dropload-refresh span,
[data-dpr="2"] .dropload-update span,
[data-dpr="2"] .dropload-load span,
[data-dpr="2"] .dropload-noData span {
  font-size: 30px;
}
[data-dpr="2.5"] .dropload-refresh span,
[data-dpr="2.5"] .dropload-update span,
[data-dpr="2.5"] .dropload-load span,
[data-dpr="2.5"] .dropload-noData span {
  font-size: 38px;
}
[data-dpr="2.75"] .dropload-refresh span,
[data-dpr="2.75"] .dropload-update span,
[data-dpr="2.75"] .dropload-load span,
[data-dpr="2.75"] .dropload-noData span {
  font-size: 41px;
}
[data-dpr="3"] .dropload-refresh span,
[data-dpr="3"] .dropload-update span,
[data-dpr="3"] .dropload-load span,
[data-dpr="3"] .dropload-noData span {
  font-size: 45px;
}
[data-dpr="4"] .dropload-refresh span,
[data-dpr="4"] .dropload-update span,
[data-dpr="4"] .dropload-load span,
[data-dpr="4"] .dropload-noData span {
  font-size: 60px;
}

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  line-height: 50px;
  text-align: center;
}

.dropload-down .dropload-refresh,
.dropload-down .dropload-update,
.dropload-down .dropload-load {
  top: 0;
  bottom: auto;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}