.me-banner {
  width: 100%;
  height: 771px;
  position: relative;
  letter-spacing: 2px;
}
.me-banner img {
  width: 100%;
  display: block;
  height: 100%;
}
.me-banner .banner-title1 {
  position: absolute;
  top: 380px;
  left: 615px;
  font-size: 41px;
  color: #fff;
}
.me-banner .english-title {
  display: block;
  font-size: 25px;
  padding: 20px 0;
  font-weight: 400;
  opacity: .8;
}
.me-banner .banner-list {
  width: 435px;
  height: 530px;
  position: absolute;
  top: 165px;
  left: 1245px;
  background: #eff1ed;
}
.me-banner .banner-list .list-title {
  width: 260px;
  height: 100px;
  line-height: 100px;
  background: #1d97d6;
  font-size: 36px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -25px;
}
.me-banner .banner-list .list-box {
  padding: 143px 50px 0 70px;
}
.me-banner .banner-list .list-box li {
  color: #5f5e5e;
  font-size: 23px;
  margin-bottom: 50px;
}
.me-banner .banner-list .list-box .list-one {
  display: block;
  margin-bottom: 10px;
}
.me-content {
  width: 100%;
  min-height: 1000px;
}
.me-content .content1 {
  width: 100%;
  position: relative;
  min-height: 1098px;
  background: url(../img/opacity_bj.png) no-repeat;
  background-position: center 320px;
}
.me-content .content1-inner,
.me-content .content3 {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.me-content .content1-inner {
  padding-top: 195px;
  padding-bottom: 173px;
}
.me-content .content1-inner .center {
  width: 750px;
  height: 725px;
  border: 5px solid #1d97d6;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.me-content .content1-inner .left,
.me-content .content1-inner .right {
  width: 692px;
  height: 587px;
  position: absolute;
  top: 263px;
}
.me-content .content1-inner .left img,
.me-content .content1-inner .right img {
  width: 100%;
  height: 100%;
}
.me-content .content1-inner .left {
  left: 20px;
  background: #fff;
}
.me-content .content1-inner .left .big-text {
  font-size: 38px;
  color: #1d97d6;
  border-left: 5px solid #1d97d6;
  padding-left: 10px;
  margin: 25px 0;
}
.me-content .content1-inner .left .small-text {
  font-size: 25px;
  color: #5f5e5e;
  letter-spacing: 3px;
  margin-left: 10px;
}
.me-content .content1-inner .left .text-content {
  font-size: 24px;
  color: #5f5e5e;
  padding-top: 25px;
}
.me-content .content1-inner .left .text-content li {
  margin-bottom: 20px;
  line-height: 35px;
}
.me-content .content1-inner .right {
  right: 0;
}
.me-content .public-title .h3 {
  display: inline-block;
  text-align: center;
  font-size: 38px;
  color: #1d97d6;
  letter-spacing: 5px;
  padding: 0px 40px;
  position: relative;
}
.me-content .public-title .h3 .english {
  display: block;
  font-size: 50px;
  padding: 20px 0;
  color: #dadada;
}
.me-content .public-title .h3:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #1d97d6;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.me-content .public-title .left-line,
.me-content .public-title .right-line {
  display: inline-block;
  width: 195px;
  height: 1px;
  background: #626262;
  vertical-align: 80%;
}
.me-content .content2 {
  width: 100%;
  min-height: 1044px;
  position: relative;
  text-align: center;
}
.me-content .content2 .content2-text {
  width: 350px;
  height: 137px;
  background: url(../img/yinhao.png) no-repeat;
  position: absolute;
  top: 197px;
  left: 984px;
  font-size: 20px;
  line-height: 30px;
  color: #5f5e5e;
  text-align: left;
  padding: 20px 0px 20px 20px;
}
.me-content .content2 .content2-bottom {
  width: 100%;
  height: 358px;
  background: url(../img/me-content2.png) center center;
  position: absolute;
  top: 530px;
}
.me-content .content2 .content2-bottom img {
  position: absolute;
}
.me-content .content2 .content2-bottom img:nth-of-type(1) {
  left: 450px;
  bottom: 0px;
}
.me-content .content2 .content2-bottom img:nth-of-type(2) {
  left: 984px;
  bottom: -280px;
}
.me-content .content3 {
  min-height: 1090px;
  text-align: center;
}
.me-content .content3 img {
  margin-top: 60px;
}
.me-content .content4 {
  width: 100%;
  min-height: 975px;
  position: relative;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.me-content .content4 .contact {
  width: 100%;
  height: 748px;
  margin-top: 100px;
  background: url(../img/big-map.png) no-repeat center center;
  position: relative;
}
.me-content .content4 .contact .contact-list,
.me-content .content4 .contact .two-code {
  width: 500px;
  text-align: left;
  position: absolute;
  top: 125px;
  left: 1112px;
}
.me-content .content4 .contact .contact-list .padding-left,
.me-content .content4 .contact .two-code .padding-left {
  padding-left: 70px;
}
.me-content .content4 .contact .contact-list li,
.me-content .content4 .contact .two-code li {
  margin-bottom: 20px;
}
.me-content .content4 .contact .two-code {
  top: 440px;
}
