<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">	
	<link rel="stylesheet" href="../resources/css/main.css">
	<link rel="stylesheet" href="../resources/css/dropload.css">
	<title>限时免费</title>
</head>
<body>
	<header class="header">
		<a href="javascript:history.back()" class="header-icon header-left i-back"></a>
		<h1 class="header-title">限时免费</h1>
		<a class="header-icon header-right i-menu"></a>
	</header>

	<div class="content">
		<div v-cloak id="questionList" class="index-5 question-list">
			<ul id="audioWarp">
				<template v-for="item in datas">
					<li>
						<a v-bind:href="'../answer/detail.html?id=' + item.id" class="title">{{item.ask}}</a>
						<div class="imgs" v-html="item.image"></div>
						<div class="answer">
							<a v-bind:href="'../teacher/detail.html?id=' + item.answer_uid" class="portrait">
								<img v-if="item.avatar != null || item.avatar.length > 0" v-bind:src="item.avatar" class="pic">
								<img v-else src="../resources/images/portrait.png" class="pic">
								<i class="i-vip"></i>
							</a>
							<audio class="audioBtn" v-bind:src="item.answer" controls="controls"></audio>
							<em class="audio">限时免费</em>
							<span class="time">{{item.limit_time}}</span>
						</div>
						<p class="name">{{item.nickname}} | {{item.job_title}}</p>
						<div class="foot">
							<span class="date">{{item.answer_time}}</span>
							<span class="listen-num">{{item.touting}}人已偷听</span>
						</div>
					</li>
				</template>
			</ul>
		</div>
	</div>

	<div class="fot-menu">
		<span>
			<a href="../index.html">
				<i class="i-home"></i>
				<span>首页</span>
			</a>
		</span>		
		<em class="updata-question">
			<a href="../teacher/list.html"></a>
		</em>
		<span>
			<a href="../personal/personal-index.html">
				<i class="i-personal"></i>
				<span>我的</span>
			</a>
		</span>			
	</div>
</body>
<script src="../resources/js/flexible.js"></script>
<script src="../resources/js/flexible_css.js"></script>
<script src="../resources/js/jquery.min.js"></script>
<script src="../resources/js/vue.min.js"></script>
<script src="../resources/js/conf.js"></script>
<script src="../resources/js/dropload.min.js"></script>
<script src="../resources/pages-js/time-free.js" type="text/javascript" charset="utf-8"></script>
</html>