body {
  background-color: #f5f5f5;
}
.main {
  margin-top: 20px;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.main .tab_control {
  background-color: #02a2ea;
  height: 36px;
  padding-top: 4px;
  padding-left: 21px;
  color: #feffff;
}
.main .tab_control ul li {
  float: left;
  line-height: 36px;
  height: 36px;
  width: 90px;
  font-size: 14px;
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #feffff;
  cursor: pointer;
}
.main .tab_control ul li.active {
  background-color: #fff;
  color: #00a1e9;
}
