<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#dd6d0b">
	<meta name="theme-color" content="#DD6D0B">
	<link href="../resources/css/mui.min.css" rel="stylesheet" />
	<link href="../resources/css/main.css" rel="stylesheet" />
	<link href="../resources/css/swiper.min.css" rel="stylesheet">
	<title>特产列表</title>
	<style>
		.banner-warp{
			min-height: 215px;
		}
	</style>
</head>
<body>
	<div class="index-header">
		<!-- 搜索框 -->
		<div class="index-top">
			<div id="gps" class="address">
				<i class="i-address"></i>
				<span id="address">未定位</span>
			</div>
			<div class="search-warp">
				<i class="i-search"></i>
				<span>请输入关键字</span>
			</div>
		</div>
		<!-- banner -->
		<div id="banners" class="banner-warp">
			<div class="swiper-container swiper-banner">
				<div class="swiper-wrapper">
					<template v-for="item in banners">
						<div :id="item.id" :type-id="item.adType" class="swiper-slide">
							<a :data-id="item.url">
								<img :src="item.imgName" :alt="item.title" class="banner-img">
							</a>
						</div>
					</template>
				</div>
				<div class="swiper-pagination swiper-pagination-white swiper-pagination-banner"></div>
			</div>
		</div>
	</div>

	<div class="main mui-content attractions-warp specialty-warp">
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div id="list" class="wineshop-list2">
					<div class="personal-comment2 notdata" :class="{'hide' : list.length > 0}">
						<img src="../resources/images/nodata.png" alt="" />
					</div>
					<ul class="mui-table-view mui-table-view-chevron">
						<template v-for="item in list">
							<li :id="item.id">
								<div class="img">
									<img :src="item.coverImage" alt="">
								</div>
								<div class="info2">
									<h1>{{item.title}}</h1>
									<p>{{item.summary}}</p>
								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>

<script src="../resources/js/mui.min.js"></script>
<script src="../resources/js/vue.min.js"></script>
<script src="../resources/js/mui.pullToRefresh.js"></script>
<script src="../resources/js/mui.pullToRefresh.material.js"></script>
<script src="../resources/js/swiper.min.js"></script>
<script src="../resources/js/conf.js"></script>
<script src="../resources/js/main.js"></script>

<script>

	(function($) {

		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				down: {
					auto: false,
					callback: pulldownRefresh
				},
				up: {
					auto: false,
					contentrefresh: '正在加载...',
					contentnomore:'暂无更多数据',
					callback: pullupRefresh
				}
			}
		});	
		
		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener('plusready', plusReady, false);
		}
	
		function plusReady() {
			new Swiper('.swiper-banner', {
				loop: true,
				pagination: '.swiper-pagination-banner',
				paginationClickable: true,
				preloadImages: false,
				speed: 300,
				autoplay: 5000
			});
			plus.navigator.closeSplashscreen();
		}				
		
		$("#address")[0].innerHTML = localStorage.getItem('$address');
		
		$("#gps")[0].addEventListener('tap', function(){
			$.app.openWindow("../home/address.html");
		})

		var vm = null,page = 1;
		var type = playModel = scenicLevel = sorting = '',price = 0;
		var listUrl = 'specialty/list?pageNo=' + page;
		$.app.get(listUrl, function(data){
			var vm0 = new Vue({
				el: "#banners",
				data: {
					banners: data.banner
				}
			})
			vm = new Vue({
				el: "#list",
				data: {					
					list: data.result
				}
			})
			page++;

			mui(".mui-table-view").on('tap', 'li', function(){
				$.app.openDetail(this.id);
			})
		})

		//上拉刷新、下拉加载
		function pulldownRefresh() {
			page = 1;
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(false);
			listUrl = 'specialty/list?pageNo=' + page;
			$.app.get(listUrl, function(data){
				vm.list = data.result;
			})
		}

		function pullupRefresh() {
			console.log("a");
			listUrl = 'specialty/list?pageNo=' + page;
			$.app.get(listUrl, function(data){
				if (data.result.length != 0) {
					setTimeout(function(){
						vm.list = vm.list.concat(data.result);
					},200);
					page++;
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
				} else {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
				}
			})
		}

	})(mui);		
</script>

</html>