body {
  background-color: #fafafc;
}
body .public-header {
  background: #fff;
}
body .public-header .header-nav {
  color: #000;
}
.about-1 {
  width: 100%;
  min-height: 383px;
}
.about-1 .container {
  padding-top: 100px;
}
.about-1 .container .public-title {
  padding-bottom: 20px;
}
.about-1 .container .about-nav {
  width: 563px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.about-1 .container .about-nav .active {
  background-color: #3874f4;
  color: #fff;
}
.about-1 .container .about-nav li {
  float: left;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
  border-right: 1px solid #dcdcdc;
}
.about-1 .container .about-nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
.about-1 .container .about-nav li.first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.about-1 .container .about-nav li.last-child {
  border-right: none;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.about-2 {
  width: 100%;
  height: 402px;
  background: url(../img/about_bg1.png) center center no-repeat;
  background-size: cover;
}
.about-2 .about-us-text {
  font-size: 70px;
  color: #3874f4;
  text-align: center;
  line-height: 395px;
}
.about-3 {
  width: 100%;
  min-height: 533px;
}
.about-3 .public-title {
  padding-bottom: 10px;
}
.about-3 .about3-text {
  width: 1061px;
  margin: 0 auto;
  font-size: 16px;
  color: #333;
  line-height: 30px;
}
.about-3 .about3-list {
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}
.about-3 .about3-list li {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #3874f4;
  margin: 0 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
.about-3 .about3-list li span {
  color: #fff;
  display: block;
}
.about-3 .about3-list li span.item-big-text {
  padding-top: 35px;
  font-size: 47px;
  font-weight: 600;
}
.about-3 .about3-list li span.item-small-text {
  padding: 10px 0 20px 0;
  font-size: 16px;
}
.about-4 {
  width: 100%;
  min-height: 580px;
  background-color: #fff;
}
.about-4 .public-title {
  padding-bottom: 0;
}
.about-4 .about4-list li {
  float: left;
  width: 320px;
  margin: 0 40px;
  text-align: center;
}
.about-4 .about4-list li > img {
  height: 200px;
}
.about-4 .about4-list li .about4-item-caption {
  font-size: 18px;
  color: #292929;
  font-weight: 600;
}
.about-4 .about4-list li .about4-item-text {
  font-size: 14px;
  color: #292929;
  line-height: 25px;
  padding: 15px 0;
  letter-spacing: 1px;
  text-indent: 10px;
}
.about-5 {
  width: 100%;
  min-height: 648px;
}
.about-5 .public-title {
  padding-bottom: 0px;
}
.about-5 .about5-text {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 1090px;
  text-indent: 20px;
  font-size: 14px;
  color: #292929;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
}
.about-5 .about5-photo-list {
  width: 1105px;
  margin: 0 auto;
  padding-top: 60px;
}
.about-5 .about5-photo-list li {
  width: 355px;
  height: 220px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
.about-5 .about5-photo-list li > img {
  display: block;
  width: 100%;
}
.about-5 .about5-photo-list li.last-child {
  margin-right: 0;
}
