.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.up-window-wrap {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 9999;
  display: none;
}
.up-window-wrap .up-window-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 740px;
  height: 425px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  behavior: url(PIE.htc);
}
.up-window-wrap .up-window-inner img {
  margin-top: 67px;
}
.up-window-wrap .up-window-inner .success-info {
  display: block;
  font-size: 30px;
  padding: 20px 0;
}
.up-window-wrap .up-window-inner .success-msg {
  font-size: 18px;
  color: #666;
  padding: 20px 0;
}
.up-window-wrap .up-window-inner .close-window {
  display: inline-block;
  width: 220px;
  height: 50px;
  background-color: #3874F4;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.public-header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font-size: 16px;
  color: #fff;
}
.public-header .container .logo {
  width: 169px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.public-header .container .header-nav {
  width: 960px;
  height: 100%;
  position: absolute;
  left: 240px;
}
.public-header .container .header-nav li {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  width: 160px;
  height: 100%;
  float: left;
  position: relative;
}
.public-header .container .header-nav li.active .nav-hover {
  top: 0;
}
.public-header .container .header-nav li a {
  display: block;
  width: 100%;
  height: 40px;
  padding: 28px 0 32px;
  text-align: center;
  position: absolute;
  z-index: 20;
}
.public-header .container .header-nav li a span {
  display: block;
}
.public-header .container .header-nav li a span:nth-of-type(2) {
  padding-top: 9px;
  font-size: 12px;
}
.public-header .container .header-nav li .nav-hover {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 1;
  box-shadow: 0px 1px 15px 0 #eee;
  -webkit-box-shadow: 0px 1px 15px 0 #eee;
  -moz-box-shadow: 0px 1px 15px 0 #eee;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
}
.public-header .container .header-nav li .nav-hover i {
  display: block;
  width: 20px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 17px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.public-header .container .header-nav li:hover {
  color: #225da6;
}
.public-header .container .header-nav li:hover .nav-hover {
  top: 0;
}
.public-title {
  width: 650px;
  padding: 40px 0;
  text-align: center;
  margin: 0 auto;
}
.public-title .public-title-top {
  font-size: 30px;
  color: #333;
  padding: 20px 0;
  position: relative;
  vertical-align: bottom;
}
.public-title .public-title-top .public-small-title {
  font-size: 24px;
  color: #999;
  padding-left: 5px;
}
.public-title .public-title-top::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #0d529c;
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  margin: auto;
}
.public-title .public-title-bottom {
  font-size: 14px;
  color: #3e3e3e;
  padding: 20px 0;
}
.public-app-case {
  width: 100%;
  min-height: 763px;
  background: #2d333f;
}
.public-app-case .public-title .public-title-top {
  color: #fff;
}
.public-app-case .public-case-list {
  width: 100%;
  min-height: 572px;
}
.public-app-case .public-case-list li {
  float: left;
  width: 390px;
  height: 280px;
  background-color: #f0f1f3;
  margin-right: 10px;
  margin-bottom: 10px;
}
.public-app-case .public-case-list li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.public-app-case .public-case-list li a img {
  display: block;
  width: 100%;
}
.public-footer-form {
  width: 100%;
  min-height: 675px;
  background: url(../img/footer_bj1.png) center center no-repeat;
  background-size: cover;
}
.public-footer-form .container {
  height: 675px;
}
.public-footer-form .public-title .public-title-top {
  color: #fff;
}
.public-footer-form .public-title .public-title-top .public-small-title {
  color: #fff;
}
.public-footer-form .public-title .public-title-top:after {
  background: #3196ff;
}
.public-footer-form .contact-list {
  width: 780px;
  position: absolute;
  top: 190px;
}
.public-footer-form .contact-list li {
  float: left;
  width: 378px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 48px;
  border: 1px solid #b9bfc8;
  background: rgba(92, 105, 125, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.public-footer-form .contact-list li.no-margin-right {
  margin-right: 0;
}
.public-footer-form .contact-list li.textarea {
  width: 100%;
  min-height: 180px;
}
.public-footer-form .contact-list li.item7 {
  border: none;
  background-color: transparent;
}
.public-footer-form .contact-list li input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  background-color: transparent;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
.public-footer-form .contact-list li input[type="text"]:focus {
  outline: 2px solid #fff;
}
.public-footer-form .contact-list li ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.7);
}
.public-footer-form .contact-list li :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.7);
}
.public-footer-form .contact-list li ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
.public-footer-form .contact-list li :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.7);
}
.public-footer-form .contact-list li textarea {
  font-size: 16px;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
  color: #fff;
  overflow: hidden;
  background: transparent;
  font-family: "微软雅黑";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
.public-footer-form .contact-list li textarea:focus {
  outline: 2px solid #fff;
}
.public-footer-form .contact-list li .auth-code {
  width: 100%;
  height: 100%;
  position: relative;
}
.public-footer-form .contact-list li .auth-code input {
  width: 258px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.public-footer-form .contact-list li .auth-code .code {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 120px;
  display: block;
  height: 100%;
  line-height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  border-left: 1px solid #b9bfc8;
  background: rgba(132, 141, 157, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.public-footer-form .contact-list li .sumbit-btn {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  text-align: center;
  background-color: #3874f4;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.public-footer-form .contact {
  min-width: 375px;
  min-height: 200px;
  position: absolute;
  left: 825px;
  top: 200px;
  color: #fff;
}
.public-footer-form .contact .contact-caption {
  font-size: 24px;
}
.public-footer-form .contact ul li {
  padding-top: 30px;
}
.public-footer-form .contact ul li.item-1 i {
  background-position: -475px -127px;
}
.public-footer-form .contact ul li.item-2 i {
  height: 18px;
  background-position: -475px -171px;
}
.public-footer-form .contact ul li.item-3 i {
  background-position: -475px -83px;
  vertical-align: top;
}
.public-footer-form .contact ul li.item-3 .contact-text {
  display: inline-block;
  width: 320px;
}
.public-footer-form .contact ul li i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
  vertical-align: middle;
}
.public-footer-form .contact ul li .contact-text {
  font-size: 14px;
  padding-left: 15px;
}
.public-footer {
  width: 100%;
  min-height: 385px;
}
.public-footer .footer-wrap-1 {
  width: 100%;
  height: 296px;
  background: #2a2a2a;
}
.public-footer .footer-wrap-1 .left-nav {
  width: 600px;
  position: absolute;
  top: 45px;
  left: 0;
}
.public-footer .footer-wrap-1 .left-nav ul {
  float: left;
  width: 150px;
  min-height: 210px;
  border-right: 1px solid #555;
  border-left: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.public-footer .footer-wrap-1 .left-nav ul.first-child {
  border-left: none;
}
.public-footer .footer-wrap-1 .left-nav ul.last-child {
  border-right: none;
}
.public-footer .footer-wrap-1 .left-nav ul.list2,
.public-footer .footer-wrap-1 .left-nav ul.list3,
.public-footer .footer-wrap-1 .left-nav ul.list4 {
  padding-left: 45px;
}
.public-footer .footer-wrap-1 .left-nav ul li:first-child {
  font-size: 16px;
  color: #3874f4;
  margin-bottom: 28px;
}
.public-footer .footer-wrap-1 .left-nav ul li {
  margin-bottom: 15px;
}
.public-footer .footer-wrap-1 .left-nav ul li a {
  font-size: 14px;
  color: #fff;
}
.public-footer .footer-wrap-1 .left-nav ul li a:hover {
  text-decoration: underline;
}
.public-footer .footer-wrap-1 .left-nav ul li:last-child {
  margin-bottom: 0;
}
.public-footer .footer-wrap-1 .footer-logo {
  position: absolute;
  left: 700px;
  top: 130px;
}
.public-footer .footer-wrap-1 .qrcode {
  position: absolute;
  left: 960px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.public-footer .footer-wrap-2 {
  width: 100%;
  height: 90px;
  background: #000;
}
.public-footer .footer-wrap-2 .blogroll {
  width: 942px;
  margin: 0px auto;
  padding-top: 20px;
}
.public-footer .footer-wrap-2 .blogroll li {
  float: left;
  font-size: 12px;
  color: #fff;
}
.public-footer .footer-wrap-2 .blogroll li a {
  border-right: 1px solid #959595;
  border-left: 1px solid #424242;
  padding: 0 5px;
}
.public-footer .footer-wrap-2 .blogroll li a:hover {
  text-decoration: underline;
}
.public-footer .footer-wrap-2 .blogroll li.first-child a {
  border-left: none;
}
.public-footer .footer-wrap-2 .blogroll li.last-child a {
  border-right: none;
}
.public-footer .footer-wrap-2 .copyright {
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
