.app3-item-caption {
  background: #5ea8f3 !important;
}
.public-header .header-nav .active .nav-hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFeeeeee, ee, endColorstr=#BFeeeeee, ee);
}
