.banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 710px;
  background: url(../img/banner-bg.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.banner img {
  margin: 158px auto 0;
}
.banner .banner-text {
  width: 282px;
  font-size: 20px;
  color: #fff;
  margin: 50px auto;
  line-height: 35px;
  -webkit-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -ms-transform: translateX(60px);
  -o-transform: translateX(60px);
  transform: translateX(60px);
}
.index-1 {
  width: 100%;
  background: #fff;
}
.index-1 .index-1-nav {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
}
.index-1 .index-1-1 {
  width: 1200px;
  height: 80px;
  color: #01aaff;
  margin: 0 auto;
}
.index-1 .index-1-1 li {
  line-height: 110px;
  float: left;
}
.index-1 .index-1-1 li.padding-left-1 {
  padding-left: 250px;
}
.index-1 .index-1-1 li.padding-left-2 {
  padding-left: 280px;
}
.index-1 .index-1-1 li .big-text {
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.index-1 .index-1-1 li .big-text i {
  font-size: 20px;
  position: absolute;
  right: -10px;
  top: -40px;
}
.index-1 .index-1-1 li .small-text {
  font-size: 18px;
  padding-left: 10px;
}
.index-1 .container {
  position: relative;
}
.index-1 .container .index-1-2 {
  width: 100%;
  min-height: 746px;
}
.index-1 .container .index-1-2 .box-bottom {
  width: 100%;
  height: 437px;
  position: relative;
  top: 60px;
}
.index-1 .container .index-1-2 .box-bottom li {
  width: 240px;
  position: absolute;
  bottom: 0;
  color: #fff;
  overflow: hidden;
}
.index-1 .container .index-1-2 .box-bottom li a {
  display: block;
  width: 100%;
  height: 100%;
}
.index-1 .container .index-1-2 .box-bottom li .icon-box {
  width: 100px;
  height: 100px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc);
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}
.index-1 .container .index-1-2 .box-bottom li .icon-box i {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: url(../img/css_sprites_3.png) 0 0 no-repeat;
}
.index-1 .container .index-1-2 .box-bottom li.item3 {
  height: 436px;
  background: url(../img/bg3_03.png) 0 0;
  left: 480px;
}
.index-1 .container .index-1-2 .box-bottom li.item3 .icon-box i {
  width: 35px;
  height: 62px;
  background-position: -532px -550px;
}
.index-1 .container .index-1-2 .box-bottom li.item2,
.index-1 .container .index-1-2 .box-bottom li.item4 {
  height: 360px;
}
.index-1 .container .index-1-2 .box-bottom li.item1 {
  background: url(../img/bg1_03.png) 0 0;
  left: 0;
  height: 295px;
}
.index-1 .container .index-1-2 .box-bottom li.item1 .icon-box i {
  width: 54px;
  height: 44px;
  background-position: -231px -449px;
}
.index-1 .container .index-1-2 .box-bottom li.item2 {
  background: url(../img/bg2_03.png) 0 0;
  left: 240px;
}
.index-1 .container .index-1-2 .box-bottom li.item2 .icon-box i {
  width: 60px;
  height: 60px;
  background: url(../img/index_icon-1.png) 0 0 no-repeat;
  background-size: cover;
}
.index-1 .container .index-1-2 .box-bottom li.item4 {
  background: url(../img/bg4_03.png) 0 0;
  left: 720px;
}
.index-1 .container .index-1-2 .box-bottom li.item4 .icon-box i {
  width: 60px;
  height: 60px;
  background: url(../img/index_icon-2.png) 0 0 no-repeat;
  background-size: cover;
}
.index-1 .container .index-1-2 .box-bottom li.item5 {
  background: url(../img/bg5_03.png) 0 0;
  left: 960px;
  height: 318px;
}
.index-1 .container .index-1-2 .box-bottom li.item5 .icon-box i {
  width: 56px;
  height: 50px;
  background-position: -155px -449px;
}
.index-1 .container .index-1-2 .box-bottom li .caption {
  text-align: center;
  padding: 15px 0;
  font-size: 22px;
}
.index-1 .container .index-1-2 .box-bottom li .text {
  text-align: center;
  padding: 0 10px;
  line-height: 22px;
}
.index-2 {
  width: 100%;
  height: 741px;
  background: url(../img/bg.png) 0 0 no-repeat;
  background-size: cover;
}
.index-2 .index-2-1 {
  width: 1200px;
  min-height: 315px;
  margin: 0 auto;
}
.index-2 .index-2-1 .list li {
  float: left;
  width: 222px;
  height: 300px;
  border: 1px solid #97b5f5;
  -webkit-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
  -moz-box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
  box-shadow: 1px 0 10px rgba(39, 119, 253, 0.35);
  margin-right: 20px;
  cursor: pointer;
  opacity: .8;
  position: relative;
  text-align: center;
  background: #fff;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.index-2 .index-2-1 .list li.last-child {
  margin-right: 0;
}
.index-2 .index-2-1 .list li:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 10px rgba(39, 119, 253, 0.5);
  -moz-box-shadow: 0 0 10px rgba(39, 119, 253, 0.5);
  box-shadow: 0 0 10px rgba(39, 119, 253, 0.5);
}
.index-2 .index-2-1 .list li:hover .item-btn {
  opacity: 1;
}
.index-2 .index-2-1 .list li .item-top .index2-icon {
  margin: 20px 0;
  display: inline-block;
  width: 125px;
  height: 80px;
  background: url(../img/css_sprites_3.png) no-repeat;
  background-position: -10px -449px;
}
.index-2 .index-2-1 .list li .item-top .item-caption {
  font-size: 18px;
  color: #3e73f1;
  padding-bottom: 10px;
}
.index-2 .index-2-1 .list li .item-top .item-text {
  font-size: 12px;
  color: #898888;
  line-height: 20px;
  padding: 0 10px 15px;
  text-align: left;
}
.index-2 .index-2-1 .list li .item-btn {
  width: 204px;
  height: 30px;
  border: 1px solid #97b5f5;
  margin: 0 auto;
  color: #3e73f1;
  opacity: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.index-2 .index-2-1 .list li .item-btn a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
}
.index-2 .index-2-1 .index-2-btn {
  width: 200px;
  height: 50px;
  margin: 55px auto;
}
.index-2 .index-2-1 .index-2-btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: #3874f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.index-3 {
  width: 100%;
  min-height: 660px;
  background: url(../img/index_bg1.png) 0 0 no-repeat;
  background-size: cover;
  -webkit-transition: .5;
  -moz-transition: .5;
  -ms-transition: .5;
  -o-transition: .5;
  transition: .5;
}
.index-3 .left-nav {
  width: 294px;
  height: 525px;
  background: #fff;
  position: absolute;
  top: 70px;
  -webkit-box-shadow: 0px 0px 5px #555;
  -moz-box-shadow: 0px 0px 5px #555;
  box-shadow: 0px 0px 5px #555;
}
.index-3 .left-nav .case-caption {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #dcdcdc;
  line-height: 56px;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.index-3 .left-nav .case-caption span {
  font-size: 22px;
  color: #3874f4;
  padding-left: 12px;
}
.index-3 .left-nav .case-caption i {
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../img/css_sprites_3.png) -305px -449px no-repeat;
  vertical-align: text-bottom;
}
.index-3 .left-nav ul li {
  float: left;
  width: 146px;
  height: 93px;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  overflow: hidden;
}
.index-3 .left-nav ul li.even {
  border-right: none;
  width: 147px;
}
.index-3 .left-nav ul li.item1 {
  background: #3874f4;
}
.index-3 .left-nav ul li.item1 i {
  width: 32px;
  height: 30px;
  background-position: -190px -114px;
}
.index-3 .left-nav ul li.item2 i {
  width: 43px;
  height: 29px;
  background-position: -73px -10px;
}
.index-3 .left-nav ul li.item3 i {
  width: 32px;
  height: 32px;
  background-position: -190px -62px;
}
.index-3 .left-nav ul li.item4 i {
  width: 32px;
  height: 32px;
  background-position: -116px -111px;
}
.index-3 .left-nav ul li.item5 i {
  width: 36px;
  height: 32px;
  background-position: -10px -59px;
}
.index-3 .left-nav ul li.item6 i {
  width: 30px;
  height: 34px;
  background-position: -242px -10px;
}
.index-3 .left-nav ul li.item7 i {
  width: 33px;
  height: 31px;
  background-position: -115px -164px;
}
.index-3 .left-nav ul li.item8 i {
  width: 32px;
  height: 32px;
  background-position: -10px -164px;
}
.index-3 .left-nav ul li.item9 {
  border-bottom: none;
}
.index-3 .left-nav ul li.item9 i {
  width: 29px;
  height: 32px;
  background-position: -242px -118px;
}
.index-3 .left-nav ul li.item10 {
  border-bottom: none;
}
.index-3 .left-nav ul li.item10 i {
  width: 34px;
  height: 33px;
  background-position: -10px -111px;
}
.index-3 .left-nav ul li a {
  display: block;
  width: 100%;
  height: 73px;
  text-align: center;
  padding-top: 20px;
  color: #3874f4;
}
.index-3 .left-nav ul li a span {
  display: block;
  padding-top: 5px;
  font-size: 14px;
}
.index-3 .left-nav ul li a i {
  display: inline-block;
  background: url(../img/index3_sprites.png) 0 0 no-repeat;
}
.index-3 .left-nav ul li.active a {
  color: #fff;
}
.index-3 .left-nav ul li.active a span {
  color: #fff !important;
}
.index-3 .right-content {
  min-width: 397px;
  min-height: 355px;
  position: absolute;
  left: 386px;
  top: 120px;
  color: #fff;
}
.index-3 .right-content h2 {
  font-size: 36px;
  padding: 35px 0;
}
.index-3 .right-content .right-text {
  font-size: 18px;
  line-height: 32px;
}
.index-3 .right-content .detail-btn {
  width: 203px;
  height: 49px;
  border: 1px solid #fff;
  margin: 30px 0;
  cursor: pointer;
}
.index-3 .right-content .detail-btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 49px;
  font-size: 16px;
}
.index-3 .right-content .detail-btn a:hover {
  text-decoration: underline;
}
.index-4 {
  width: 100%;
  min-height: 880px;
}
.index-4 .cooperation-wrap {
  width: 1200px;
  min-height: 480px;
  background: #FFF;
}
.index-4 .cooperation-wrap .cooper-list {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.index-4 .cooperation-wrap .cooper-list li {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 120px;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  position: relative;
}
.index-4 .cooperation-wrap .cooper-list li img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.index-4 .cooperation-wrap .cooper-list li:hover img {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.index-5 {
  width: 100%;
  min-height: 710px;
  background: #f3f3f3;
}
.index-5 .nav {
  width: 440px;
  min-height: 40px;
  margin: 0 auto;
}
.index-5 .nav .active {
  color: #fff;
  background-color: #3874f4;
}
.index-5 .nav li {
  float: left;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 40px;
  color: #666;
  font-size: 18px;
  cursor: pointer;
}
.index-5 .nav li.last-child {
  margin-right: 0;
}
.index-5 .list {
  width: 100%;
  min-height: 460px;
  padding-top: 40px;
  display: none;
  position: absolute;
}
.index-5 .list.show {
  display: block;
}
.index-5 .list li {
  float: left;
  width: 280px;
  margin: 0 10px;
}
.index-5 .list li .item-img-box {
  width: 280px;
  height: 200px;
  overflow: hidden;
}
.index-5 .list li .item-img-box img {
  display: block;
  width: 100%;
}
.index-5 .list li .item-time {
  display: block;
  padding: 20px 10px 0 10px;
  color: #999;
  font-size: 12px;
}
.index-5 .list li .item-caption {
  padding: 20px 10px;
  font-size: 16px;
  color: #333;
}
.index-5 .list li .item-info {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0 10px;
}
.index-5 .list li .sea-detail {
  font-size: 14px;
  color: #666;
  text-decoration: underline;
  display: block;
  padding-top: 30px;
  margin-left: 10px;
}
.index-5 .list li .sea-detail:hover {
  color: #17579a;
}
