.info-banner {
  width: 100%;
  height: 380px;
  background: url(../img/info_banner.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.info-banner .container .public-title {
  padding-top: 150px;
}
.info-banner .container .public-title .public-title-top {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 0;
}
.info-banner .container .public-title .public-title-top .public-small-title {
  vertical-align: bottom;
  font-size: 24px;
  color: #eee;
}
.info-banner .container .public-title .public-title-top:after {
  display: none;
}
.info-banner .container .public-title .public-title-bottom {
  font-size: 14px;
  color: #fff;
}
.info-1 {
  width: 100%;
  height: 360px;
  background: url(../img/info_bg.png) center 100px no-repeat;
  background-size: 100% 360px;
  padding-top: 100px;
}
.info-1 .info1-box {
  width: 530px;
  position: absolute;
  left: 0;
  top: 105px;
  color: #fff;
}
.info-1 .info1-box .info1-caption {
  font-size: 50px;
  font-weight: 600;
  padding-left: 30px;
}
.info-1 .info1-box .info1-text {
  font-size: 18px;
  padding: 25px 0 0 30px;
  line-height: 30px;
}
.info-2 {
  width: 100%;
  min-height: 1580px;
  padding-top: 30px;
  background: #f9f9fc;
}
.info-2 .info2-nav-wrap {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  -moz-box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
  box-shadow: 0 0 10px rgba(146, 177, 242, 0.35);
}
.info-2 .info2-nav-wrap .info2-nav .active {
  background-color: #3874f4;
  color: #fff;
}
.info-2 .info2-nav-wrap .info2-nav li {
  float: left;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #262626;
}
.info-2 .list-wrap {
  width: 100%;
}
.info-2 .list-wrap .left-list {
  float: left;
  width: 868px;
  min-height: 1430px;
  background-color: #fff;
}
.info-2 .list-wrap .left-list .list-1 {
  width: 100%;
  display: none;
}
.info-2 .list-wrap .left-list .list-1.show {
  display: block;
}
.info-2 .list-wrap .left-list .list-1 li {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.info-2 .list-wrap .left-list .list-1 li:hover {
  background-color: #eff3fa;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.info-2 .list-wrap .left-list .list-1 li > a {
  display: block;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #dcdcdc;
}
.info-2 .list-wrap .left-list .list-1 li > a .left-img-box {
  float: left;
  width: 190px;
  height: 117px;
  overflow: hidden;
  background-color: #3874f4;
}
.info-2 .list-wrap .left-list .list-1 li > a .left-img-box img {
  display: block;
  width: 100%;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right {
  width: 613px;
  float: left;
  margin-left: 20px;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-title {
  color: #3874f4;
  font-size: 18px;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-text {
  padding: 20px 0;
  font-size: 14px;
  color: #4d4d4e;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .time {
  float: left;
  color: #4d4d4e;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .operate {
  float: right;
  color: #888;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .operate span {
  font-weight: 800;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .operate span i {
  display: inline-block;
  width: 19px;
  margin-right: 5px;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .operate span.read {
  margin-right: 20px;
}
.info-2 .list-wrap .left-list .list-1 li > a .item-right .item-bottom-box .operate span.read i {
  height: 11px;
  background: url(../img/read_icon.png) 0 0 no-repeat;
}
.info-2 .list-wrap .left-list .page-wrap {
  width: 380px;
  margin: 20px auto 0;
}
.info-2 .list-wrap .left-list .page-wrap .active {
  background-color: #3874f4;
  color: #fff;
}
.info-2 .list-wrap .left-list .page-wrap a {
  margin-right: 10px;
  float: left;
}
.info-2 .list-wrap .left-list .page-wrap a.no-margin-right {
  margin-right: 0;
}
.info-2 .list-wrap .left-list .page-wrap span {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #3874f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  color: #626262;
}
.info-2 .list-wrap .left-list .page-wrap span:hover {
  color: #fff;
}
.info-2 .list-wrap .left-list .page-wrap span.omit {
  border: none;
  color: #000;
  font-size: 18px;
  line-height: 50px;
  width: 15px;
  cursor: auto;
  color: #626262;
}
.info-2 .list-wrap .right-list-wrap {
  float: right;
  width: 310px;
}
.info-2 .list-wrap .right-list-wrap .right-img-box {
  width: 100%;
  min-height: 228px;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.info-2 .list-wrap .right-list-wrap .right-img-box:hover img {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateZ(360deg) scale(1.3);
  -moz-transform: rotateZ(360deg) scale(1.3);
  -ms-transform: rotateZ(360deg) scale(1.3);
  -o-transform: rotateZ(360deg) scale(1.3);
  transform: rotateZ(360deg) scale(1.3);
}
.info-2 .list-wrap .right-list-wrap .right-img-box img {
  display: block;
  width: 100%;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.info-2 .list-wrap .right-list-wrap .box {
  width: 100%;
  min-height: 715px;
  margin-top: 20px;
  background-color: #fff;
}
.info-2 .list-wrap .right-list-wrap .box .list-caption {
  height: 49px;
  line-height: 49px;
  text-align: center;
  color: #3874F4;
  font-size: 18px;
  border-bottom: 1px solid #3874F4;
}
.info-2 .list-wrap .right-list-wrap .box .right-list li {
  padding: 15px 10px;
}
.info-2 .list-wrap .right-list-wrap .box .right-list li .item-text {
  font-size: 14px;
  color: #4d4d4e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info-2 .list-wrap .right-list-wrap .box .right-list li .item-text a:hover {
  color: #3874F4;
}
.info-2 .list-wrap .right-list-wrap .box .right-list li .item-text .num {
  display: inline-block;
  min-width: 15px;
  text-align: center;
  background: #4d4d4e;
  vertical-align: text-top;
  color: #fff;
  padding: 3px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}
.info-2 .list-wrap .right-list-wrap .box .right-list li .item-time {
  display: block;
  font-size: 14px;
  color: #9b9b9b;
  text-indent: 30px;
}
