.solution2-banner {
  position: relative;
  width: 100%;
  height: 381px;
  background: url(../img/solution2_bg.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.solution2-banner .public-title {
  padding-top: 150px;
}
.solution2-banner .public-title .public-title-top {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
}
.solution2-banner .public-title .public-title-top .public-small-title {
  font-size: 24px;
  vertical-align: bottom;
  color: #eee;
}
.solution2-banner .public-title .public-title-top::after {
  display: none;
}
.detail-btn {
  width: 168px;
  height: 48px;
  border: 1px solid #3874F4;
  text-align: center;
  color: #3874F4;
  line-height: 48px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
}
.detail-btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.detail-btn a i {
  display: inline-block;
  width: 19px;
  height: 15px;
  background: url(../img/css_sprites6.png) 0 0 no-repeat;
  background-position: -143px -71px;
  vertical-align: -5%;
  margin-left: 5px;
}
.public-left-box {
  width: 590px;
  margin-left: 39px;
  padding-top: 110px;
}
.public-left-box .header {
  padding-bottom: 50px;
}
.public-left-box .header div {
  float: left;
}
.public-left-box .header div.left-icon {
  width: 48px;
  height: 41px;
  background: url(../img/css_sprites6.png) 0 0 no-repeat;
  background-position: -74px -10px;
  margin-top: 15px;
}
.public-left-box .header div.right-caption {
  margin-left: 10px;
}
.public-left-box .header div.right-caption .big-caption {
  font-size: 30px;
  color: #3874f4;
  font-weight: 700;
}
.public-left-box .header div.right-caption .small-caption {
  font-size: 16px;
  color: #3874F4;
  padding-top: 10px;
}
.public-left-box .header div.right-caption .small-caption i {
  display: inline-block;
  width: 4px;
  height: 12px;
  background: #3874F4;
  margin-right: 8px;
}
.public-left-box .text-info {
  font-size: 16px;
  color: #666;
  line-height: 30px;
}
.public-right-box {
  width: 610px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 30px;
}
.public-right-box .float-right {
  float: right;
}
.public-right-box .header {
  margin-top: 93px;
  text-align: right;
}
.public-right-box .header div {
  float: left;
}
.public-right-box .header div.left-caption {
  margin-right: 10px;
}
.public-right-box .header div.left-caption .big-caption {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.public-right-box .header div.left-caption .small-caption {
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
}
.public-right-box .header div.left-caption .small-caption i {
  display: inline-block;
  width: 4px;
  height: 12px;
  background: #fff;
  margin-left: 8px;
}
.public-right-box .header div.right-icon {
  width: 42px;
  height: 42px;
  background: url(../img/css_sprites6.png) -10px -79px no-repeat;
  margin-top: 15px;
}
.public-right-box .text-info {
  text-align: right;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  padding: 50px 0;
}
.public-right-box .solution2-nav {
  width: 100%;
  height: 50px;
}
.public-right-box .solution2-nav li {
  float: right;
  width: 100px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  color: #666;
  line-height: 45px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.public-right-box .detail-btn {
  margin-top: 20px;
  border-color: #fff;
}
.public-right-box .detail-btn a {
  color: #fff;
}
.public-right-box .detail-btn a i {
  background-position: -143px -106px;
}
.solution2-1 {
  width: 100%;
  height: 685px;
}
.solution2-1 .container {
  background: url(../img/solution2_bg1.png) no-repeat;
  -webkit-background-size: 612px 270px;
  background-size: 612px 270px;
  background-position: 625px 280px;
}
.solution2-1 .container .bread-nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.solution2-1 .container .bread-nav li {
  float: left;
  color: #666;
}
.solution2-1 .container .bread-nav li a:hover {
  text-decoration: underline;
}
.solution2-1 .container .bread-nav li span {
  margin: 0 10px;
}
.solution2-1 .container .detail-btn {
  margin-top: 90px;
}
.solution2-2 {
  width: 100%;
  height: 600px;
  background: url(../img/solution2_bg2.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.solution2-3 {
  width: 100%;
  height: 633px;
}
.solution2-3 .container {
  background: url(../img/solution2_bg3.png) no-repeat;
  background-position: 400px 0;
}
.solution2-3 .container .public-left-box .header .left-icon {
  width: 45px;
  height: 49px;
  background-position: -10px -10px;
  margin-top: 10px;
}
.solution2-4 {
  width: 100%;
  height: 600px;
  background: url(../img/solution2_bg4.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.solution2-4 .header div.right-icon {
  width: 47px;
  height: 37px;
  background-position: -72px -79px;
}
.solution2-4 .solution2-nav {
  text-align: right;
  color: #fff;
}
.solution2-5 {
  width: 100%;
  height: 592px;
}
.solution2-5 .container {
  background: url(../img/solution2_bg5.png) 400px 100px no-repeat;
}
.solution2-5 .container .text-info {
  width: 550px;
}
.solution2-5 .container .header div.left-icon {
  width: 42px;
  height: 41px;
  background-position: -143px -10px;
}
.solution2-5 .container .detail-btn {
  margin-top: 70px;
}
