<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/conf.js"></script>
		<script src="../js/mui.pullToRefresh.js"></script>
		<script src="../js/mui.pullToRefresh.material.js"></script>
		<title>社区-专题页</title>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav header">
			<a class="mui-action-back mui-icon mui-pull-left back" onclick="mui.back()"></a>
			<h1 class="mui-title" id="title"></h1>
			<a id="select-region" class="mui-icon mui-pull-right edit"></a>
		</header>
		<div class="main mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
			<div class="mui-slider-group">
				<div id="item0" class="mui-slider-item mui-control-content community-invitation">
					<div class="mui-scroll-wrapper mui-content">
						<div class="mui-scroll forum">
							<ul class="mui-table-view">
								<template v-for="(index,item) in datas">
									<li id="{{item.id}}" class="textInfo">
										<div id="{{item.authorId}}" class="userInfo">
											<div class="imgWarp">
												<img v-if="item.avatar != '' || item.avatar.length > 0" src="{{item.avatar}}" alt="">
												<img v-else src="../images/user-img.png" alt="">
											</div>									
											<span>{{item.authorName}}</span>
										</div>
										<div id="{{item.id}}" class="textInfo">
											<h2>{{item.title}}</h2>
											<p>{{item.abstractContent}}</p>
											<template v-if="item.communityImages != '' || item.communityImages.length > 0">
												<div class="imgs">
													<template v-for="(index,image) in item.communityImages">
														<img src="{{image.src}}" alt="">
													</template>
												</div>
											</template>										
											<div class="timeInfo">
												<p>
													<span class="time">{{item.createTime}}</span>
													<span class="like"><i class="i-like"></i><span>{{item.likeCount}}</span></span>
													<span class="comment"><i class="i-comment"></i><span>{{item.arguedCount}}</span></span>
												</p>
											</div>
										</div>
									</li>
								</template>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>

	<script>
		mui.init({
			swipeBack: false
		});

		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener('plusready', plusReady, false);
		}

		function plusReady() {
		}

		(function($) {
			$('.mui-scroll-wrapper').scroll({
				indicators: true //是否显示滚动条
			});

			var thisURL = document.URL; //获取页面传递的数据
			var params = thisURL.split('?')[1]; //获取问号之后的值
			var type = params.split("=")[1]; //获取等于号之后的值
			var titles = ["","理财大家说","股票涨涨涨","基金机会多","保险抗风险","买房也轻松","资金全球配"];
			document.getElementById("title").innerHTML = titles[type];
			
			$.app.url = api_domain + "community/list?theme=" + type;
			$.app.request($.app.url, function(data) {
				$.app.initItemListVm(0, data);
				$.app.pageNo++;
			});

			document.addEventListener('DOMContentLoaded', function () {
				$('.forum').on('tap', ".userInfo", function(e) {
					e.stopPropagation();
					var id = this.getAttribute("id");
					$.app.openUserDetail(id);
				},false)

				$('.forum').on('tap', ".textInfo", function() {
					var id = this.getAttribute("id");
					$.app.openDetail(id);
				})

				document.getElementById("select-region").addEventListener('tap', function(){
					if ($.app.isLogin(app.getState())) {
						$.app.openWindow("select-region.html");
					} else {
						$.app.openWindow("../login/login.html");
					}
				})
			});

			var createFragment = function(ul, index, data) {
				var length = ul.querySelectorAll('li').length;
				var fragment = document.createDocumentFragment();
				var li;
				for(var i = 0; i < data["result"].length; i++) {
					var item = data["result"][i];
					li = document.createElement('li');
					li.setAttribute("id", item["id"]);
					var html = '<div id="' + item["authorId"] + '" class="userInfo">' +
								'<div class="imgWarp">';
					if (item["avatar"] != '' || item["avatar"].lenth > 0) {
						html += '<img src="' + item["avatar"] + '" alt="">';
					} else {
						html += '<img src="../images/user-img.png" alt="">';
					}
					html += '</div><span>' + item["authorName"] + '</span></div>' +
							'<div id="' + item["id"] + '" class="textInfo">' + 
							'<h2>' + item["title"] + '</h2>' +
							'<p>' + item["abstractContent"] + '</p>';
					if (item["communityImages"] != '' || item["communityImages"].length > 0) {
						html += '<div class="imgs">';
						for (var j = 0; j < item["communityImages"].length; j++) {
							var image = item["communityImages"][j];
							html += '<img src="'+image["src"]+'" alt="">';
						}
					}
					html += '</div><div class="timeInfo"><p>' + 
							'<span class="time">' + item["createTime"] + '</span>' +
							'<span class="like"><i class="i-like"></i><span>' + item["likeCount"] + '</span></span>' +
							'<span class="comment"><i class="i-comment"></i><span>' + item["arguedCount"] + '</span></span>' +
							'</p></div></div>';
					li.innerHTML = html;
					li.setAttribute("id", item["id"]); 
					li.setAttribute("class", "textInfo"); 
					fragment.appendChild(li);
				}
				return fragment;
			};

			$.app.pullToRefresh(
				function(self, index) { // down
					var url = $.app.url;
					var ul = self.element.querySelector('.mui-table-view');
					$.app.request(url, function(data) {
						ul.innerHTML = "";
						ul.appendChild(createFragment(ul, index, data));
						self.endPullDownToRefresh();
						$.app.pageNo = 2;
					})
				},
				function(self, index) { // up
					var url = $.app.url + index + "&pageNo=" + $.app.pageNo;
					var ul = self.element.querySelector('.mui-table-view');
					$.app.request(url, function(data) {
						ul.appendChild(createFragment(ul, index, data));
						$.app.pageNo++;
						self.endPullUpToRefresh();
					})
				}
			);

		})(mui);
	</script>

</html>